<mat-toolbar color="primary" class="mat-toolbar-48">
  <span class="m-auto">New thread</span>
</mat-toolbar>

<div class="container-fluid mt-3" [formGroup]="form">

  <div class="form-group">
    <div class="clearfix">
      <div class="float-right">
        <button mat-raised-button color="accent" (click)="displayPreview = !displayPreview">
          <i class="fa fa-eye"></i>
          Preview
        </button>
        <button mat-raised-button color="primary" [disabled]="loading || form.invalid" (click)="onCreate()">
          <app-fa-spinner *ngIf="loading"></app-fa-spinner>
          <span *ngIf="!loading">
            <i class="fa fa-reply"></i>
            Submit
          </span>
        </button>
      </div>
    </div>
  </div>

  <mat-card class="form-group">

    <div>
      <mat-form-field class="w-100">
        <input matInput placeholder="Title" formControlName="title" required>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-select placeholder="Topic" formControlName="selectedTopic" required>
            <mat-optgroup *ngFor="let topic of topicOptions | orderBy:'orderIndex'"
                          [label]="topic.name" [title]="topic.description">
              <mat-option *ngFor="let sub of topic.subTopics | orderBy:'orderIndex'"
                          [value]="sub.id" [title]="sub.description">
                {{ sub.name }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div>
      <mat-form-field class="w-100">
        <mat-chip-list #chipList [selectable]="false">
          <mat-chip *ngFor="let tag of selectedTags" class="bg-primary text-white" (remove)="tagRemove(tag)">
            {{tag.name}}
            <mat-icon matChipRemove class="text-white">cancel</mat-icon>
          </mat-chip>
          <input matInput placeholder="Tags" #input formControlName="tags"
                 [matAutocomplete]="auto" (click)="trigger.openPanel()"
                 [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="[]"/>

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="tagSelected(); input.value = ''">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
              <span>{{tag.name}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-chip-list>
      </mat-form-field>
    </div>

  </mat-card>

  <div *ngIf="displayPreview" class="form-group">
    <app-thread-preview [thread]="getPreviewThread()"></app-thread-preview>
  </div>

  <div class="form-group">
    <md-editor formControlName="editorContent" required></md-editor>
  </div>

</div>
