<mat-toolbar color="primary" class="mat-toolbar-48">
  <span class="m-auto">New thread</span>
</mat-toolbar>
<div class="container-fluid px-5 mt-3">
  <div class="form-group">
    <div class="clearfix">
      <div class="float-right">
        <button mat-raised-button color="accent" (click)="displayPreview = !displayPreview">
          <i class="fa fa-eye"></i>
          Preview
        </button>
        <button mat-raised-button color="primary" [disabled]="loading|| !editorContent || !title" (click)="onCreate()">
          <app-fa-spinner *ngIf="loading"></app-fa-spinner>
          <span *ngIf="!loading">
            <i class="fa fa-reply"></i>
            Submit
          </span>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="displayPreview" class="form-group">
    <!--<app-thread-detail [thread]="getPreviewThread()"></app-thread-detail>-->
  </div>
  <mat-card class="form-group">
    <div>
      <mat-form-field class="w-100" floatPlaceholder="always">
        <input matInput placeholder="Title" [(ngModel)]="title" required>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100" floatPlaceholder="always">
          <mat-select placeholder="Topic" [(ngModel)]="selectedTopic" required
                      (change)="getSubOptions()">
            <mat-option *ngFor="let topic of topicOptions"
                        [value]="topic.value" [title]="topic.title">
              {{topic.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" floatPlaceholder="always">
          <mat-select placeholder="Sub Topic" [(ngModel)]="selectedSubTopic" required>
            <mat-option *ngFor="let subTopic of subTopicOptions"
                        [value]="subTopic.value" [title]="subTopic.title">
              {{subTopic.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field class="w-100" floatPlaceholder="always">
        <mat-chip-list #chipList [selectable]="false">
          <mat-chip *ngFor="let tag of selectedTags" class="bg-primary text-white" (remove)="tagRemove(tag)">
            {{tag.name}}
            <mat-icon matChipRemove class="text-white">cancel</mat-icon>
          </mat-chip>
          <input matInput placeholder="Tags" #input [formControl]="tagsControl"
                 [matAutocomplete]="auto" (click)="trigger.openPanel()"
                 [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="[]"/>

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="tagSelected(); input.value = ''">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
              <span>{{tag.name}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-chip-list>
      </mat-form-field>
    </div>
  </mat-card>
  <div class="form-group">
    <div [froalaEditor]="{height: 500}" [(froalaModel)]="editorContent"></div>
  </div>
</div>
