<div>
  <mat-nav-list class="p-0">
    <mat-list-item [routerLink]="['admin/dashboard']" routerLinkActive="active">
      <a matLine class="px-1">
        <i class="fa fa-dashboard"></i> Dashboard
      </a>
    </mat-list-item>
    <mat-list-item [routerLink]="['/topic']" routerLinkActive="active">
      <a matLine class="px-1">
        <i class="fa fa-list"></i> Topic
      </a>
    </mat-list-item>
    <mat-list-item class="pl-1">
      <a matLine href="#">
        <i class="fa fa-user"></i> Users
      </a>
    </mat-list-item>
  </mat-nav-list>
</div>
