<div class="container-fluid">
  <div class="row pt-3 justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-2">
        <mat-toolbar color="primary">
          <h2 class="m-auto">Reset Password</h2>
        </mat-toolbar>
        <div class="card-body">
          <div class="text-muted mb-2" style="font-size: 80%" align="center">
            <div>Hello <strong>{{name}}</strong> ({{email}})</div>
            <div>Enter your new password below to reset your password.</div>
          </div>
          <form [formGroup]="form" (keyup.enter)="onSubmit()">
            <div class="row">
              <mat-form-field class="col-md-12">
                <input matInput placeholder="New Password" formControlName="password"
                       type="password" required>
                <mat-error *ngIf="password.errors | hasError: 'required'">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Confirm password" formControlName="confirmPassword"
                       type="password" required>
                <mat-error *ngIf="confirmPassword.errors | hasError: 'required'">
                  Confirm password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="confirmPassword.errors | hasError: 'unmatch'">
                  Password and confirmation password do not match.
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button mat-raised-button color="primary" class="float-right"
                  (click)="onSubmit()"
                  [disabled]="loading || form.invalid">
            <app-fa-spinner *ngIf="loading"></app-fa-spinner>
            <span *ngIf="!loading">Submit</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
