<mat-toolbar color="primary">
  <span class="m-auto">Topic</span>
</mat-toolbar>
<nav mat-tab-nav-bar>
  <a mat-tab-link style="text-decoration: none"
     [routerLink]="['/discussion', 162]"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Discussion 1
  </a>
  <a mat-tab-link style="text-decoration: none"
     [routerLink]="['/discussion', 186]"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Discussion 2
  </a>
  <a mat-tab-link style="text-decoration: none"
     [routerLink]="['/discussion', 187]"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Discussion 3
  </a>
</nav>
<router-outlet name="discussion"></router-outlet>
