<mat-card-header>

  <a mat-card-avatar [routerLink]="['/user', post.createdBy.id]"
     [style.background-image]="'url(' + post.createdBy.avatar + ')'"></a>
  <mat-card-subtitle class="mb-1">
    <strong>
      <a [routerLink]="['/user', post.createdBy.id]">{{post.createdBy.name}}</a>
    </strong>

    <app-badge-role [user]="post.createdBy"></app-badge-role>
    <app-badge-approval-status [status]="post.approvalStatus"></app-badge-approval-status>
  </mat-card-subtitle>

  <mat-card-title class="mb-1 text-muted" [title]="post.dateCreated | date:'MMM d y, h:mm a'">
    {{post.dateCreated | amTimeAgo}}
  </mat-card-title>

  <div *ngIf="authenticated" class="ml-auto">
    <ng-container
      *ngIf="post.approvalStatus === approvalStatus.Pending && permission">
      <button mat-icon-button class="btn-approve" (click)="approve()">
        <i class="fa fa-check fa-fw"></i>
      </button>
      <button mat-icon-button class="btn-decline" (click)="decline()">
        <i class="fa fa-close fa-fw"></i>
      </button>
    </ng-container>

    <button mat-icon-button [matMenuTriggerFor]="postMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #postMenu>
      <button *ngIf="permission" mat-menu-item>
        Delete
      </button>
      <button mat-menu-item>
        Report
      </button>
    </mat-menu>
  </div>
</mat-card-header>
