<mat-card-header>
  <a mat-card-avatar [routerLink]="['/']" [style.background-image]="'url(' + post.createdBy.avatar + ')'"
     style="background-size: cover"></a>
  <mat-card-subtitle class="mb-1">
    <strong>
      <a href="#">{{post.createdBy.name}}</a>
    </strong>
    <app-badge-role [user]="post.createdBy"></app-badge-role>
    <app-badge-approval-status [status]="post.approvalStatus"></app-badge-approval-status>
  </mat-card-subtitle>
  <mat-card-title class="mb-1 text-muted" [title]="post.dateCreated | date:'MMM d y, h:mm a'">
    {{post.dateCreated | amTimeAgo}}
  </mat-card-title>
  <div class="ml-auto">
    <button mat-icon-button [matMenuTriggerFor]="postMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-card-header>

<mat-menu #postMenu>
  <button mat-menu-item>
    Delete
  </button>
  <button mat-menu-item>
    Report
  </button>
</mat-menu>
