i {
  cursor: pointer;
  padding: 5px;
}

.topic {
  i {
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      color: white;
    }
  }

  &:hover {
    .fa {
      display: inline-block !important;
    }
  }
}

.sub {
  i {
    color: rgba(0, 0, 0, 0.7);

    &:hover {
      color: black;
    }
  }

  &:hover {
    .fa {
      display: inline-block !important;
    }
  }
}
