<div class="container-fluid mt-3">
  <app-thread-search-input (searchOut)="onSearchOut($event)"></app-thread-search-input>

  <mat-table #table [dataSource]="dataSource" matSort matSortStart="desc" [matSortDisableClear]="true">

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header start="asc">Title</mat-header-cell>
      <mat-cell *matCellDef="let row" [title]="row.title">
        <strong>{{row.title | shorten: 100:'...'}}</strong>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="user.name">
      <mat-header-cell *matHeaderCellDef mat-sort-header start="asc">Poster</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a matTooltip="by {{row.user.name}} {{row.createdDate | amTimeAgo}}" matTooltipPosition="above"
           [routerLink]="['/']">
          <img [src]="row.user.avatar" [alt]="row.user.name" class="img-fluid"
               style="border-radius: 50%; width:30px;height: 30px">
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numberOfPosts">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Posts</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.numberOfPosts}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="views">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Views</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.views}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastActivity">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Activity</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.lastActivity | amTimeAgo}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/thread', row.id]"></mat-row>

  </mat-table>

  <mat-card *ngIf="!behavior.value.length && !loading">
    <mat-card-content class="justify-content-center d-flex py-5">
      We couldn't find any thread.
    </mat-card-content>
  </mat-card>

  <mat-paginator [hidden]="!behavior.value.length && !loading"
                 #paginator class="shadow"
                 [length]="behavior.value.length"
                 [pageIndex]="0"
                 [pageSizeOptions]="[20, 25, 30]">
  </mat-paginator>
</div>
