.mat-column-title {
  width: 900px;
}

.mat-column-user-name {
  width: 80px;
}

.mat-column-views {
  width: 80px;
}

.mat-column-numberOfPosts {
  width: 80px;
}

.mat-column-lastActivity {
  width: 130px;
}
