<mat-toolbar color="primary" class="mat-toolbar-48">
  <span class="m-auto">Dashboard</span>
</mat-toolbar>

<div class="container-fluid mt-3">
  <app-widget></app-widget>
</div>

<app-column-chart class="w-100"
                  hAxis="Topic"
                  position="top"
                  [dataTable]="threadsDataTable"></app-column-chart>

<app-line-chart class="w-100"
                hAxis="Month"
                position="top"
                [colors]="['#dc3912']"
                [dataTable]="threadLifetimeDataTable"></app-line-chart>

<app-column-chart class="w-100"
                  hAxis="Topic"
                  position="top"
                  [dataTable]="postsDataTable"></app-column-chart>

<app-line-chart class="w-100"
                hAxis="Month"
                position="top"
                [colors]="['#dc3912']"
                [dataTable]="postLifetimeDataTable"></app-line-chart>
