<mat-toolbar color="primary" class="mat-toolbar-48">
  <span class="m-auto">Topic</span>
</mat-toolbar>

<div class="container-fluid">
  <div *ngFor="let topic of topics | orderBy: ['orderIndex', 'name']" class="mt-3 shadow-1">
    <div class="card" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0">
      <div class="card-header py-1 px-2 text-white bg-dark">
        <strong>{{topic.name}}</strong>
      </div>
      <div class="card-body py-1 px-2" style="font-size: 80%; background-color: #efefef">
        {{topic.description}}
      </div>
    </div>
    <div class="card border-top-0" style="border-top-left-radius: 0; border-top-right-radius: 0">
      <div class="card-body py-1 px-0">
        <div *ngFor="let subTopic of topic.subTopics | orderBy: 'orderIndex'">
          <div class="row px-2 py-1">
            <div class="col-12 col-md-7 font-weight-bold">
              <span>
                <i class="fa fa-comments fa-fw text-primary" style="font-size: 25px"></i>
              </span>
              <a [routerLink]="['/topic', topic.id, 'sub', subTopic.id]">
                {{subTopic.name}}
              </a>
              <span *ngIf="subTopic.numberOfNewThreads" ngbTooltip="Unread"
                    class="badge badge-danger badge-line-fix" style="line-height: 10px">
                {{subTopic.numberOfNewThreads}}
              </span>
              <div style="font-size: 70%">
                {{subTopic.description}}
              </div>
            </div>
            <div class="d-none d-md-block col-md-5 mt-1" style="font-size: 80%">
              <div class="clearfix"
                   *ngFor="let thread of subTopic.threads | slice:0:1">
                <div class="float-left">
                  <div *ngIf="thread.createdBy$ | async as createdBy">
                    <a [ngbTooltip]="createdBy.name" placement="left" container="body"
                       [routerLink]="['/user', thread.createdById]" class="mr-1 avatar">
                      <img [src]="createdBy.avatar" [alt]="createdBy.name"
                           class="img-fluid" style="width:35px; height: 35px">
                    </a>
                  </div>
                </div>
                <div class="float-left">
                  <a [routerLink]="['/thread', thread.id]" [title]="thread.title">
                    {{thread.title | shorten: 45:'...'}}
                  </a>
                  <div>
                    <span ngbTooltip="Posts" style="color: #009688">
                      <i class="fa fa-commenting"></i> {{thread.numberOfPosts}}
                    </span>
                    <span class="badge badge-info badge-line-fix">Last posts</span>
                    <span class="text-muted">{{thread.lastActivity | amTimeAgo}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
</div>
