<mat-toolbar color="primary" class="mat-toolbar-48">
  <span class="m-auto" *ngIf="user">{{user.name}}</span>
</mat-toolbar>

<div class="container-fluid mt-3" *ngIf="user">
  <div class="row no-gutters">
    <div class="col-md-3 mb-2">
      <div class="card border-bottom-0">
        <div class="my-1" align="center">
          <input #fileInput type="file" (change)="onFileChange($event)" hidden/>
          <ngx-avatar [name]="user.name" [size]="130" [src]="user.avatar" ngbTooltip="Change your avatar"
                      (click)="onChangeAvatar()"></ngx-avatar>
          <div class="mt-2" style="font-size: 120%">
            <span ngbTooltip="Reputations" style="color: #E91E63">
              <i class="fa fa-star"></i> {{user.reputations}}
            </span>
            <span ngbTooltip="Threads" style="color: #2196F3" class="mx-2">
              <i class="fa fa-pencil"></i> {{user.numberOfThreads}}
            </span>
            <span ngbTooltip="Posts" style="color: #009688">
              <i class="fa fa-commenting"></i> {{user.numberOfPosts}}
            </span>
          </div>
        </div>
        <mat-nav-list class="p-0" style="border-top: 1px solid #e0e0e0;">
          <mat-list-item *ngFor="let navLink of navLinks"
                         [routerLink]="[navLink.link]" routerLinkActive="active">
            <a matLine class="px-1">
              <i class="fa fa-fw mr-3" [ngClass]="'fa-' + navLink.icon"></i>{{navLink.label}}
            </a>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
    <div class="col-md-9 pl-md-2">
      <mat-card>
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </div>
</div>
