<div class="container-fluid">
  <div class="row pt-3 justify-content-center mt-2">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-2">
        <mat-toolbar color="primary">
          <h2 class="m-auto">Register</h2>
        </mat-toolbar>
        <div class="card-body">
          <form [formGroup]="registerForm" (keyup.enter)="onSubmit()">
            <h5>Account Information</h5>
            <hr>
            <div class="row">
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Name" formControlName="name" required>
                <mat-error *ngIf="name.errors | hasError: 'required'">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="email.errors | hasError: 'required'">
                  Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="email.errors | hasError: 'email'">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="email.errors | hasError: 'unique'">
                  Email has already been taken
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Password" formControlName="password"
                       type="password" required>
                <mat-error *ngIf="password.errors | hasError: 'required'">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Confirm password" formControlName="confirmPassword"
                       type="password" required>
                <mat-error *ngIf="confirmPassword.errors | hasError: 'required'">
                  Confirm password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="confirmPassword.errors | hasError: 'unmatch'">
                  Password and confirmation password do not match.
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="float-right">
            <button mat-raised-button color="warn" (click)="registerForm.reset()">Clear</button>
            <button mat-raised-button color="primary"
                    (click)="onSubmit()"
                    [disabled]="registerForm.invalid || loading">
              <app-fa-spinner *ngIf="loading"></app-fa-spinner>
              <span *ngIf="!loading">Register</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
