<mat-card>
  <mat-card-header>
    <div mat-card-avatar [style.background-image]="'url(' + post.createdBy.avatar + ')'"></div>
    <mat-card-subtitle class="mb-1">
      <strong>
        <a href="#">{{post.createdBy.name}}</a>
      </strong>
    </mat-card-subtitle>
    <mat-card-title class="mb-1 text-muted">
      {{post.dateCreated | amTimeAgo}}
    </mat-card-title>
    <div class="ml-auto">
      <button mat-icon-button [matMenuTriggerFor]="postMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <hr class="mt-2">
  <mat-card-content>
    <div [froalaView]="post.content"></div>
  </mat-card-content>
  <hr>
  <button mat-button (click)="onReply()">
    <i class="fa fa-reply fa-fw"></i>
    Reply
  </button>
  <button mat-button>
    <i class="fa fa-thumbs-up fa-fw"></i>
    5 Likes
  </button>
  <ng-container *ngIf="reply && authenticated">
    <hr>
    <div>
      <button mat-raised-button color="primary" class="mb-2"
              (click)="onSubmit()" [disabled]="!editorContent || loading">
        <app-fa-spinner *ngIf="loading"></app-fa-spinner>
        <span *ngIf="!loading">Submit</span>
      </button>
      <div [froalaEditor]="{height: 150}" [(froalaModel)]="editorContent"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="post.replies?.length">
    <hr class="mb-2">
    <div class="pl-2 pr-2">
      <div *ngFor="let reply of post.replies | orderBy:['-dateCreated']" class="mt-2">
        <app-reply [reply]="reply"></app-reply>
      </div>
    </div>
  </ng-container>
</mat-card>

<mat-menu #postMenu>
  <button mat-menu-item class="px-4" style="min-width: 200px">
    <mat-icon class="mr-2">delete_forever</mat-icon>
    <span>Delete</span>
  </button>
  <div class="divider"></div>
  <button mat-menu-item class="px-4">
    <mat-icon class="mr-2">report</mat-icon>
    <span>Report</span>
  </button>
</mat-menu>
