<div class="container-fluid mt-3">
  <div class="shadow-2">
    <app-approve-user-search-input (searchOut)="filter($event)"
                                   (approve)="onApprove()"
                                   (approveAll)="onApproveAll()"
                                   (decline)="onDeclineDialog()"
                                   (declineAll)="onDeclineAll()"
                                   [approveLoading]="approveLoading"></app-approve-user-search-input>

    <mat-table #table [dataSource]="dataSource" matSort [matSortDisableClear]="true">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="asc">Name</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.name}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="asc">Email</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.email}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateCreated">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc">Registered</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.dateCreated | amTimeAgo}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClick(row)"
               [class.bg-secondary]="row.approvalStatus === 'Approved'"></mat-row>

    </mat-table>

    <mat-paginator #paginator
                   [pageSizeOptions]="[10, 20, 30]">
    </mat-paginator>
  </div>
</div>
