<h3>Profile</h3>
<hr>

<div *ngIf="user" [formGroup]="form">

  <mat-form-field class="w-100">
    <input matInput placeholder="Email" [value]="user.email" [disabled]="true" class="text-primary">
  </mat-form-field>

  <mat-form-field class="w-100" *ngIf="user.role !== 'None'">
    <input matInput placeholder="Role" [value]="user.role" [disabled]="true" class="text-danger">
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput placeholder="Name" formControlName="name" required (change)="edit = true">
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput placeholder="Phone" formControlName="phone" (change)="edit = true">
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput [min]="minDate" [max]="maxDate"
           [matDatepicker]="picker" placeholder="Brithdate" formControlName="birthdate" (change)="edit = true">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" (selectedChanged)="edit = true"></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="form.invalid || loading || !edit" (click)="onSubmit()">
    <app-fa-spinner *ngIf="loading"></app-fa-spinner>
    <ng-container *ngIf="!loading">Update profile</ng-container>
  </button>
</div>
