@import "../../../../../../assets/scss/variables";

mat-toolbar {
  cursor: pointer;
  border-bottom: 1px solid $border-color;
}

.search {
  &:focus {
    outline: none;
  }
}

#more {
  &:hover {
    color: black;
  }
}
