<mat-toolbar color="primary" class="mat-toolbar-48">
  <span class="m-auto">Manage Tags</span>
</mat-toolbar>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-4 mb-2" *ngFor="let tag of tags">
      <div class="float-left">
        <img src="https://viblo.asia/uploads/100x-/fc3aabb1-2541-48ea-b65f-9436f60ee70c.png" alt=""
             style="width: 70px; height: 70px" class="img-fluid">
      </div>
      <div style="margin-left: 80px">
        <strong>{{tag.name}}</strong>
        <div class="text-muted" style="font-size: 80%"><strong>{{tag.usage}}</strong> Usages</div>
        <div>
          <i class="fa fa-pencil fa-fw"></i>
        </div>
      </div>
    </div>
  </div>
</div>
