<mat-toolbar color="primary" class="mat-toolbar-48">
  <span class="m-auto">Manage Tags</span>
</mat-toolbar>
<mat-toolbar class="mat-toolbar-48 shadow-1">
  <button *ngIf="!trash" mat-button (click)="create()" class="mr-1">
    <i class="fa fa-plus fa-fw mr-1"></i>
    Tag
  </button>
  <button *ngIf="!trash" mat-button (click)="getDeleted()" class="mr-1">
    <i class="fa fa-trash fa-fw mr-1"></i>
    Trash
  </button>
  <button *ngIf="trash" mat-button (click)="ngOnInit(); trash = false" class="mr-1">
    <i class="fa fa-arrow-left fa-fw mr-1"></i>
    Back
  </button>
</mat-toolbar>

<div class="container-fluid mt-3">
  <div class="mb-2">
    <input class="form-control" placeholder="Search">
  </div>

  <div class="mr-2 d-inline-block mb-2" *ngFor="let tag of tags | orderByImpure:'name'">
    <div class="badge tag" (click)="edit(tag)">
      <strong>{{tag.name}}</strong>
      <span class="text-muted" style="font-size: 80%">{{tag.usage}} Usages</span>
    </div>
  </div>
</div>
