<mat-toolbar color="primary" class="mat-toolbar-48">
  <span class="m-auto">Dashboard</span>
</mat-toolbar>

<div class="container-fluid mt-3">
  <app-widget></app-widget>
</div>

<app-column-chart #threadChart class="w-100" *ngIf="threadsDataTable"
                  hAxis="Threads count"
                  position="top"
                  [dataTable]="threadsDataTable"></app-column-chart>
<app-column-chart #postChart class="w-100" *ngIf="postsDataTable"
                  hAxis="Posts count"
                  position="top"
                  [colors]="['#dc3912']"
                  [dataTable]="postsDataTable"></app-column-chart>
