<mat-toolbar color="primary" class="mat-toolbar-48">
  <span class="m-auto">Dashboard</span>
</mat-toolbar>

<div class="container-fluid mt-3">
  <app-widget></app-widget>
</div>

<app-column-chart #chart1 class="w-100"
                  hAxis="Topic"
                  position="top"
                  [dataTable]="threadsDataTable"></app-column-chart>
<app-column-chart #chart2 class="w-100"
                  hAxis="Month"
                  position="top"
                  [colors]="['#dc3912']"
                  [dataTable]="threadsPerMonthDataTable"></app-column-chart>
<app-column-chart #chart3 class="w-100"
                  hAxis="Topic"
                  position="top"
                  [dataTable]="postsDataTable"></app-column-chart>
<app-column-chart #chart4 class="w-100"
                  hAxis="Month"
                  position="top"
                  [colors]="['#dc3912']"
                  [dataTable]="postsPerMonthDataTable"></app-column-chart>
