<div class="position-relative">
  <mat-toolbar *ngIf="!search" (click)="onSearchFocus()"
               class="mat-toolbar-56 text-muted position-absolute" style="background-color: #EEEEEE">
    <mat-icon class="mr-2">search</mat-icon>
    <span *ngIf="!searchControl.value">
      Search by name, email
    </span>
    <mat-chip-list *ngIf="searchControl.value">
      <mat-chip class="bg-primary text-white" (remove)="searchControl.setValue(''); onSearchOut()">
        {{searchControl.value}}
        <mat-icon matChipRemove class="text-white" clickStopPropagation>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <button mat-raised-button class="ml-auto mr-1" color="primary" clickStopPropagation (click)="onApprove()"
            [disabled]="approveLoading">
      <app-fa-spinner *ngIf="approveLoading"></app-fa-spinner>
      <span *ngIf="!approveLoading">
        <i class="fa fa-check"></i>
        Approve
      </span>
    </button>
    <button id="more" mat-icon-button clickStopPropagation [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-toolbar [class.shadow-2]="search"
               class="bg-white mat-toolbar-56" style="position: static">
    <mat-icon class="mr-2">search</mat-icon>
    <input class="w-100 border-0 search" #searchInput placeholder="Search by name, email"
           (focusout)="onSearchOut()" (keyup.enter)="onSearchOut()"
           [formControl]="searchControl">
  </mat-toolbar>
</div>

<mat-menu #menu>
  <button mat-menu-item (click)="onDecline()">
    <span>Decline</span>
  </button>
  <button mat-menu-item (click)="onApproveAll()">
    <span>Approve All</span>
  </button>
  <button mat-menu-item (click)="onDeclineAll()">
    <span>Decline All</span>
  </button>
</mat-menu>
