<mat-toolbar class="mat-toolbar-48" color="primary">
  <span class="m-auto" *ngIf="user">{{user.name}}</span>
</mat-toolbar>

<div class="container-fluid mt-3">
  <div *ngIf="user" class="row no-gutters">
    <div class="col-md-3 col-lg-2 mb-2" align="center" style="font-size: 90%">
      <mat-card class="p-2">
        <div class="avatar">
          <img [src]="user.avatar" [alt]="" class="img-fluid" style="height: 130px; width: 130px">
        </div>
        <div class="mt-2" style="font-size: 120%">
          <span ngbTooltip="Reputations" style="color: #E91E63">
            <i class="fa fa-star"></i> {{user.reputations}}
          </span>
          <span ngbTooltip="Threads" style="color: #2196F3" class="mx-2">
            <i class="fa fa-comment"></i> {{user.numberOfThreads}}
          </span>
          <span ngbTooltip="Posts" style="color: #009688">
            <i class="fa fa-commenting"></i> {{user.numberOfPosts}}
          </span>
        </div>
        <hr class="mt-1">
        <div>
          <strong>{{user.name}}</strong>
          <app-badge-role [user]="user"></app-badge-role>
        </div>
        <div class="text-muted">Email: <strong class="text-mat-primary">{{user.email}}</strong></div>
        <div class="text-muted">Gender: <strong>Male</strong></div>
        <div class="text-muted">Phone: <strong>{{user.phone}}</strong></div>
        <div class="text-muted">Birthdate: <strong>{{user.birthdate | date}}</strong></div>
        <div class="text-muted">Joined: <strong>{{user.dateCreated | date}}</strong></div>
      </mat-card>
    </div>
    <div class="col-md-9 col-lg-10 pl-md-2">
      <mat-card class="p-0">
        <nav mat-tab-nav-bar>
          <a mat-tab-link
             *ngFor="let navLink of navLinks"
             [routerLink]="navLink.link"
             routerLinkActive #rla="routerLinkActive"
             [active]="rla.isActive">
            {{navLink.label}}
          </a>
        </nav>
        <div class="mt-3">
          <router-outlet></router-outlet>
        </div>
      </mat-card>
    </div>
  </div>
</div>
