<mat-toolbar color="primary" class="mat-toolbar-48">
  <span class="m-auto">{{currentUser.name}}</span>
</mat-toolbar>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <div class="card border-bottom-0">
        <img matTooltip="Change your avatar"
             [src]="currentUser.avatar" alt="">
        <mat-nav-list class="p-0">
          <mat-list-item *ngFor="let navLink of navLinks"
                         [routerLink]="[navLink.link]" routerLinkActive="active">
            <a matLine class="px-1">
              <i class="fa fa-fw mr-3" [ngClass]="'fa-' + navLink.icon"></i>{{navLink.label}}
            </a>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
