<div class="pl-2">
  <span class="avatar position-absolute">
    <img [src]="user.avatar" [alt]="" class="img-fluid" style="height: 80px; width: 80px">
  </span>
  <div class="d-inline-block" style="margin-left: 90px">
    <div>
      <h3 class="d-inline-block mb-0">
        {{user.name}}
      </h3>
      <h4 class="d-inline-block mb-0">
        <app-badge-role [user]="user" class="position-relative" style="top: -3px"></app-badge-role>
      </h4>
    </div>
    <div class="text-muted">Email: <span class="text-mat-primary">{{user.email}}</span></div>
    <div class="text-muted">Joined since <strong>{{user.dateCreated | date}}</strong></div>
  </div>
  <hr>
  <div class="row no-gutters">
    <div class="col-sm-4" align="center">
      <div class="font-weight-bold text-mat-primary">800</div>
      <strong class="text-muted">THREADS</strong>
    </div>
    <div class="col-sm-4" align="center">
      <div class="font-weight-bold text-mat-primary">800</div>
      <strong class="text-muted">POSTS</strong>
    </div>
    <div class="col-sm-4" align="center">
      <div class="font-weight-bold text-mat-primary">800</div>
      <strong class="text-muted">REPUTATIONS</strong>
    </div>
  </div>
  <hr>
  <div class="float-right">
    <button mat-button color="primary" tabindex="-1">View Profile</button>
  </div>
</div>
