@import "../variables";

a[mat-raised-button] {
  text-decoration: none;
}

a[mat-button] {
  text-decoration: none;
}

button[mat-icon-button] {
  outline: none;
}

.mat-button.mat-small {
  min-width: 1%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  min-height: 30px;
  vertical-align: top;
  font-size: 15px;
  padding: 0 0;
  margin: 0;
}

.btn-approve {
  color: $blur-color !important;

  &:hover {
    color: $mat-primary;
  }
}

.btn-decline {
  color: $blur-color !important;

  &:hover {
    color: $red;
  }
}
