a[mat-card-avatar], .avatar {
  &:hover {
    text-decoration: none;
  }
  background-size: cover;

  img {
    background-size: cover;
    border-radius: 50%;
  }
}

.avatar {
  img {
    width:30px;
    height: 30px;
  }
}
