@import "../variables";

mat-row {
  cursor: pointer;

  &:hover {
    background-color: #EEEEEE;

    .menu {
      display: inline-block !important;
    }
  }

  .mat-cell {
    font-size: 13px;
  }
}

mat-header-row {
  background-color: $table-secondary-color;
}

mat-paginator {
  background-color: $table-secondary-color;
}
