<mat-toolbar color="primary" class="mat-toolbar-48">
  <span class="m-auto">Search</span>
</mat-toolbar>

<div class="container-fluid mt-3" [formGroup]="form">
  <mat-card>
    <mat-form-field>
      <input matInput placeholder="Keywords" formControlName="searchString">
      <mat-error *ngIf="searchString.errors | hasError: 'required'">
        Keywords are <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Topic" formControlName="topic">
        <mat-option>Any topic</mat-option>
        <mat-optgroup *ngFor="let topic of topicOptions | orderBy:'orderIndex'"
                      [label]="topic.name" [title]="topic.description">
          <mat-option *ngFor="let sub of topic.subTopics | orderBy:'orderIndex'"
                      [value]="sub.id" [title]="sub.description">
            {{ sub.name }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-chip-list #chipList [selectable]="false">
        <mat-basic-chip *ngFor="let tag of selectedTags" class="badge badge-secondary mr-1" (remove)="tagRemove(tag)">
          {{tag.name}}
          <i matChipRemove class="fa fa-close fa-fw ml-0"></i>
        </mat-basic-chip>
        <input matInput placeholder="Tags" #input formControlName="tags"
               [matAutocomplete]="auto" (click)="trigger.openPanel()"
               [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="[]"/>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="tagSelected(); input.value = ''">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            <span>{{tag.name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-chip-list>
    </mat-form-field>

    <div class="clearfix">
      <div class="float-right">
        <button mat-raised-button color="primary" [disabled]="loading || form.invalid" (click)="onSubmit()">
          <app-fa-spinner *ngIf="loading"></app-fa-spinner>
          <ng-container *ngIf="!loading">Submit</ng-container>
        </button>
      </div>
    </div>
  </mat-card>

  <div class="mt-3 shadow-2">
    <mat-table #table [dataSource]="dataSource" matSort matSortStart="desc" [matSortDisableClear]="true">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="asc">Title</mat-header-cell>
        <mat-cell *matCellDef="let row" [title]="row.title">
          <app-user-avatar [user]="row.createdBy"></app-user-avatar>
          <app-badge-role [user]="row.createdBy"></app-badge-role>
          <a [routerLink]="['/thread', row.id]" style="text-decoration: none; color: black">
            {{row.title | shorten: 100:'...'}}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfPosts">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Posts</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.numberOfPosts}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="views">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Views</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.views}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastActivity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Activity</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.lastActivity | amTimeAgo}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               [routerLink]="['/thread', row.id]"
               [class.pin]="row.pin">
      </mat-row>

    </mat-table>

    <mat-card *ngIf="!dataSource?.connect().value.length && !loading">
      <mat-card-content class="justify-content-center d-flex py-5">
        We couldn't find any thread.
      </mat-card-content>
    </mat-card>

    <mat-paginator #paginator
                   [hidden]="!dataSource?.connect().value.length"
                   [pageSizeOptions]="[20, 25, 30]">
    </mat-paginator>
  </div>

</div>
