.mat-column-title {
  max-width: 1500px;
}

.mat-column-views {
  max-width: 80px;
}

.mat-column-numberOfPosts {
  max-width: 80px;
}

.mat-column-lastActivity {
  max-width: 130px;
}

.mat-cell {
  font-size: 13px;
}

.pin {
  background-color: #E3F2FD;
}

.img-fluid {
  border-radius: 50%;
}
