<mat-toolbar class="mat-toolbar-48 shadow-1" style="background-color: #fafafa">
  <a [routerLink]="['/thread/create']" mat-button color="primary">
    <i class="fa fa-plus"></i>
    Thread
  </a>
  <a mat-button color="primary" [routerLink]="['/thread/search']">Search</a>
</mat-toolbar>

<div class="container-fluid mt-3">

  <mat-card *ngIf="subTopic" class="mb-3">
    <div>
      <span class="text-primary" style="font-size: 30px">{{subTopic.name}}</span>
    </div>
    <div>
      {{subTopic.description}}
    </div>
    <div class="mt-2">
      <span class="badge badge-dark mr-2" *ngIf="(moderators$ | async)?.length">Moderators:</span>
      <span *ngFor="let mod of moderators$ | async" [ngbTooltip]="mod.name">
        <a [routerLink]="['/user', mod.id]" class="mr-1 avatar">
          <img [src]="mod.avatar" [alt]="mod.name" class="img-fluid"
               style="width:40px; height: 40px">
        </a>
      </span>
    </div>
  </mat-card>

  <div class="shadow-2">
    <app-thread-search-input (searchOut)="onSearchOut($event)"
                             [showFilter]="permission"
                             (approvedFilter)="approvedFilter()"
                             (declinedFilter)="declinedFilter()"
                             (pendingFilter)="pendingFilter()"></app-thread-search-input>

    <mat-table #table [dataSource]="dataSource" matSort matSortStart="desc" [matSortDisableClear]="true">

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="asc">Title</mat-header-cell>
        <mat-cell *matCellDef="let row" [title]="row.title">
          <a [ngbTooltip]="row.createdBy.name" placement="right" container="body"
             [routerLink]="['/user', row.createdBy.id]" class="mr-1 avatar">
            <img [src]="row.createdBy.avatar" [alt]="row.createdBy.name" class="img-fluid">
          </a>
          <span *ngIf="row.pin" class="badge badge-primary badge-line-fix mr-1">
            <i class="fa fa-thumb-tack"></i>
            Pinned
          </span>
          <app-badge-role [user]="row.createdBy"></app-badge-role>
          <app-badge-approval-status [status]="row.approvalStatus"></app-badge-approval-status>
          <span *ngIf="row.moved" class="badge badge-info badge-line-fix">Moved</span>
          <span [class.font-weight-bold]="row.highlight">{{row.title | shorten: 100:'...'}}</span>
          <mat-icon *ngIf="row.highlight" class="mat-icon-14">new_releases</mat-icon>
          <ng-container *ngIf="permission">
            <ng-container *ngIf="row.approvalStatus === approvalStatus.Approved">
              <span class="badge badge-info badge-line-fix" ngbTooltip="Pending posts" container="body"
                    *ngIf="row.numberOfPendings > 0">
                {{row.numberOfPendings}}
              </span>
            </ng-container>
            <button mat-icon-button clickStopPropagation preventDefault [matMenuTriggerFor]="menu" class="menu d-none">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <ng-container *ngIf="row.approvalStatus == approvalStatus.Pending">
                <button mat-menu-item (click)="approve(row)">
                  Approve
                </button>
                <button mat-menu-item (click)="decline(row)">
                  Decline
                </button>
                <div class="divider"></div>
              </ng-container>
              <ng-container *ngIf="row.approvalStatus == approvalStatus.Declined">
                <button mat-menu-item (click)="approve(row)">
                  Approve
                </button>
                <div class="divider"></div>
              </ng-container>
              <button mat-menu-item *ngIf="!row.pin" (click)="pin(row, true)">
                Pin
              </button>
              <button mat-menu-item *ngIf="row.pin" (click)="pin(row, false)">
                Unpin
              </button>
              <button mat-menu-item *ngIf="currentUser.role === role.Administrator" (click)="move(row)">
                Move
              </button>
            </mat-menu>
          </ng-container>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfPosts">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Posts</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.numberOfPosts}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="views">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Views</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.views}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastActivity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Activity</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.lastActivity | amTimeAgo}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               [routerLink]="['/thread', row.id]"
               [class.pin]="row.pin">
      </mat-row>

    </mat-table>

    <mat-card *ngIf="!dataSource?.connect().value.length && !loading">
      <mat-card-content class="justify-content-center d-flex py-5">
        We couldn't find any thread.
      </mat-card-content>
    </mat-card>

    <mat-paginator #paginator
                   [hidden]="!dataSource?.connect().value.length"
                   [pageSizeOptions]="[20, 25, 30]">
    </mat-paginator>
  </div>

</div>
