<div class="container-fluid">
  <div class="clearfix">
    <ngb-pagination class="float-right"
                    [collectionSize]="threads?.length"
                    [(page)]="currentPage"
                    [pageSize]="pageSize"
                    (pageChange)="onPageChange()"></ngb-pagination>
  </div>

  <div class="list-group">
    <div *ngFor="let thread of paginatedData">
      <a [routerLink]="['/thread', thread.id]" style="font-size: 70%"
         class="list-group-item list-group-item-action flex-column align-items-start mb-2">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-mat-primary">{{thread.title}}</h5>
          <small>{{thread.dateCreated | amTimeAgo}}</small>
        </div>
        <p class="mb-1">
          {{thread.posts[0].content | shorten:150:'...'}}
        </p>
      </a>
    </div>
  </div>

  <div class="clearfix">
    <ngb-pagination class="float-right"
                    [collectionSize]="threads?.length"
                    [(page)]="currentPage"
                    [pageSize]="pageSize"
                    (pageChange)="onPageChange()"></ngb-pagination>
  </div>
</div>
