<div class="container-fluid mt-3">
  <app-user-confirm-search-input></app-user-confirm-search-input>

  <mat-table #table [dataSource]="dataSource" matSort matSortStart="desc" [matSortDisableClear]="true">

    <ng-container matColumnDef="check">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox [(ngModel)]="checkedAll"></mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox [(ngModel)]="row.checked" clickStopPropagation></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="item.name">
      <mat-header-cell *matHeaderCellDef mat-sort-header start="asc">Name</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.item.name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="item.email">
      <mat-header-cell *matHeaderCellDef mat-sort-header start="asc">Email</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.item.email}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="item.createdDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header start="asc">Register</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.item.createdDate | amTimeAgo}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="row.checked = !row.checked"></mat-row>

  </mat-table>

  <mat-paginator [hidden]="!behavior.value.length"
                 #paginator class="shadow"
                 [length]="behavior.value.length"
                 [pageIndex]="0"
                 [pageSizeOptions]="[10, 15, 20]">
  </mat-paginator>
</div>
