<mat-toolbar color="primary" class="mat-toolbar-48">
  <span *ngIf="thread" class="m-auto">{{thread.title | shorten: 100:'...'}}</span>
</mat-toolbar>

<div *ngIf="thread" class="container pt-4">

  <div class="mb-3">
    <nav>
      <ol class="breadcrumb bg-white shadow-1">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']" style="text-decoration: none">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/topic', thread.topic.parent.id]" style="text-decoration: none">{{thread.topic.parent.name}}</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/topic', thread.topic.parent.id, 'sub', thread.topic.id]" style="text-decoration: none">{{thread.topic.name}}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{thread.title}}
        </li>
      </ol>
    </nav>
  </div>

  <div class="clearfix">
    <ng-container *ngIf="thread.approvalStatus === approvalStatus.Approved">
      <button *ngIf="!showEditor" mat-raised-button color="primary" (click)="onPost()">
        <i class="fa fa-plus fa-fw"></i>
        Post
      </button>
      <button *ngIf="showEditor" mat-raised-button color="primary" class="mb-2"
              (click)="onSubmit()" [disabled]="!editorContent || loading">
        <app-fa-spinner *ngIf="loading"></app-fa-spinner>
        <span *ngIf="!loading">Submit</span>
      </button>
      <button *ngIf="showEditor" mat-raised-button color="accent" (click)="showEditor = false">
        Cancel
      </button>
    </ng-container>

    <ngb-pagination class="float-right"
                    [collectionSize]="thread.posts.length"
                    [(page)]="currentPage"
                    [pageSize]="pageSize"
                    (pageChange)="onPageChange()"
                    size="md"></ngb-pagination>
  </div>
  <div *ngIf="showEditor">
    <md-editor [(ngModel)]="editorContent" required></md-editor>
  </div>

  <div class="mb-3">
    <h3 class="thread-title">
      {{thread.title}}
      <span *ngIf="thread.pinned"
            class="badge badge-primary">
        <i class="fa fa-thumb-tack"></i>
        Pinned
      </span>
    </h3>
    by <a href="#">{{thread.createdBy.name}}</a> at
    <span class="text-muted">
      {{thread.dateCreated | date:'MMM d y, h:mm a'}}
    </span>
  </div>

  <div *ngFor="let post of paginatedData" class="mb-3">
    <app-post [post]="post" [management]="management"></app-post>
  </div>

  <div class="clearfix">
    <ngb-pagination class="float-right"
                    [collectionSize]="thread.posts.length"
                    [(page)]="currentPage"
                    [maxSize]="pageSize"
                    (pageChange)="onPageChange()"></ngb-pagination>
  </div>

  <div *ngIf="thread.tags?.length">
    <mat-card class="px-3 py-2">
      Tags:
      <mat-chip *ngFor="let tag of thread.tags" class="bg-primary text-white">
        {{tag.name}}
      </mat-chip>
    </mat-card>
  </div>
  <mat-chip-list></mat-chip-list>

</div>
