<mat-toolbar color="primary" class="mat-toolbar-48">
  <span *ngIf="thread" class="m-auto truncate">{{thread.title}}</span>
</mat-toolbar>

<div *ngIf="thread" class="container pt-4">

  <div class="mb-3">
    <nav>
      <ol class="breadcrumb bg-white shadow-1">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']" style="text-decoration: none">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/topic', thread.topic.parent.id]" style="text-decoration: none">{{thread.topic.parent.name}}</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/topic', thread.topic.parent.id, 'sub', thread.topic.id]" style="text-decoration: none">{{thread.topic.name}}</a>
        </li>
      </ol>
    </nav>
  </div>

  <div class="clearfix">
    <ng-container *ngIf="thread.approvalStatus === approvalStatus.Approved">
      <button *ngIf="!showEditor && !thread.locked" mat-raised-button color="primary" (click)="onPost()">
        <i class="fa fa-plus fa-fw"></i>
        Post
      </button>
      <ng-container *ngIf="!showEditor && permission">
        <button mat-raised-button color="warn" [matMenuTriggerFor]="menu">
          <mat-icon>filter_list</mat-icon>
          Filter
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="defaultFilter()">Default</button>
          <button mat-menu-item (click)="approvedFilter()">Approved</button>
          <button mat-menu-item (click)="pendingFilter()">Pending</button>
          <button mat-menu-item (click)="declinedFilter()">Declined</button>
        </mat-menu>
        <button mat-raised-button [matMenuTriggerFor]="menu" class="bg-success text-white">
          Tools
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="!thread.locked" (click)="lock(true)">
            Lock
          </button>
          <button mat-menu-item *ngIf="thread.locked" (click)="lock(false)">
            Unlock
          </button>
          <button mat-menu-item *ngIf="!thread.pin" (click)="pin(true)">
            Pin
          </button>
          <button mat-menu-item *ngIf="thread.pin" (click)="pin(false)">
            Unpin
          </button>
          <button mat-menu-item *ngIf="currentUser.role === role.Administrator" (click)="move(row)">
            Move
          </button>
        </mat-menu>
      </ng-container>
      <button *ngIf="showEditor" mat-raised-button color="primary" class="mb-2"
              (click)="onSubmit()" [disabled]="!editorContent || loading">
        <app-fa-spinner *ngIf="loading"></app-fa-spinner>
        <span *ngIf="!loading">Submit</span>
      </button>
      <button *ngIf="showEditor" mat-raised-button color="accent" (click)="showEditor = false">
        Cancel
      </button>
    </ng-container>

    <ngb-pagination class="float-right"
                    [collectionSize]="posts?.length"
                    [(page)]="currentPage"
                    [pageSize]="pageSize"
                    (pageChange)="onPageChange()"></ngb-pagination>
  </div>
  <div *ngIf="showEditor">
    <md-editor [(ngModel)]="editorContent" required></md-editor>
  </div>

  <div class="mb-3">
    <h3 class="thread-title" [title]="thread.title">
      {{thread.title}}
      <i *ngIf="thread.pin" class="fa fa-thumb-tack fa-fw text-primary"></i>
      <i *ngIf="thread.locked" class="fa fa-lock fa-fw text-danger"></i>
    </h3>
    by <a href="#">{{thread.createdBy.name}}</a> at
    <span class="text-muted">
      {{thread.dateCreated | date:'MMM d y, h:mm a'}}
    </span>
  </div>

  <div *ngFor="let post of paginatedData" class="mb-3">
    <app-post [post]="post" [permission]="permission" [locked]="thread.locked"
              [threadApprovalStatus]="thread.approvalStatus"
              (threadApprovalChange)="threadApprovalChange($event)"></app-post>
  </div>

  <div class="clearfix">
    <ngb-pagination class="float-right"
                    [collectionSize]="posts?.length"
                    [(page)]="currentPage"
                    [pageSize]="pageSize"
                    (pageChange)="onPageChange()"></ngb-pagination>
  </div>

  <div *ngIf="thread.tags?.length">
    <mat-card class="px-3 py-2">
      <mat-chip *ngFor="let tag of thread.tags" class="bg-primary text-white">
        {{tag.name}}
      </mat-chip>
    </mat-card>
  </div>
  <mat-chip-list></mat-chip-list>

</div>
