$blue: #1565C0 !default;
$red: #D32F2F !default;
$green: #4CAF50 !default;
$cyan: #4080ff !default;

$mat-primary: #3f51b5 !default;

$app-back-ground-color: #fafafa !default;
$border-color: rgba(0, 0, 0, 0.12);
$table-secondary-color: #f5f5f5;
$blur-color: #999999;

$list-group-hover-bg: #d7e6f5
