@import "variables";
@import "~bootstrap/scss/bootstrap.scss";
@import "material/material";

.ng-invalid.ng-touched {
  @extend .is-invalid;
}

body {
  background-color: $app-back-ground-color;
  font-family: Roboto, Helvetica Neue, sans-serif !important;
}

body, code {
  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: $app-back-ground-color;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9E9E9E;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: #e0e0e0;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

.shadow-1 {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.shadow-2 {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.badge-line-fix {
  position: relative;
  top: -1px;
}

.text-mat-primary {
 color: $mat-primary;
}

md-editor[mode="preview"] {
  .md-editor-container, .preview-panel {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

app-reply {
  .preview-panel {
    background-color: #e9ebee !important;
  }
}

.editor-container {
  .preview-panel {
    * {
      word-break: break-all !important;
    }

    code {
      width: 100% !important;
    }

    p, code, pre {
      margin-bottom: 0 !important;
    }
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

app-thread-search-input, app-approve-user-search-input, app-manage-user-search-input {
  mat-toolbar {
    cursor: pointer;
    border-bottom: 1px solid $border-color;
  }
  .search {
    &:focus {
      outline: none;
    }
  }
}

app-user-posts {
  .list-group-item-action {
    &:hover, &:focus {
      .preview-panel {
        background-color: $list-group-hover-bg !important;
      }
    }
    &:active {
      .preview-panel {
        background-color: $list-group-action-active-bg !important;
      }
    }
  }
}
